.SingleColorBox {
    width: 20%;
    height: 50%;
    display: inline-block;
    position: relative;
    margin-bottom: -.4rem;
    text-align: center;
}
.go-back {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
    text-transform: uppercase;
    cursor: pointer;
    background: rgba(255, 255, 255, .5);
    height: 30px;
    width: 90px;
    line-height: 30px;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.go-back {
    opacity: 1;
    text-decoration: none;
    color: inherit
}

.SingleColorBox.goBack {
    background-color: black ;
    color: rgba(255, 255, 255, .8)
}

 button: