body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-enter {
  transform: translateX(-1250px);
  background: '#2c7aaa';
}
.page-enter-active {
  height: 100vh;
  background: '#2c7aaa';
  transform: translateX(0);
  transition: transform .5s;
}
.page-exit {
  transform: translateX(0);
  height: 100vh;
}
.page-exit-active {
  transform: translateX(1250px);
  transition: transform .5s;
  height: 100vh;
}


