.Palette {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Palette-colors {
    height: 90%;
}

.Palette-footer {
    height: 5vh;
    display: flex;
    justify-items: center;
    justify-content: flex-end;
}

.Palette-footer__emoji {
    margin: 0 2rem 0 2rem;
}